{% extends './base.html' %}

{% block head %}
<title>Meloverse | Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/headerfooter.css') }}">
{% endblock %}

{% block navbar %}
<header class="py-3 mb-3 border-bottom">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a href="{{ url_for('admin.admin_dashboard', user=current_user.username) }}"
        class="navbar-brand px-2 link-body-emphasis">
        🎧 Meloverse | Admin Dashboard
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="{{ url_for('admin.user_management', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Users</a></li>
        <li class="nav-item"><a href="{{ url_for('admin.alert', user=current_user.username)}}"
            class="nav-link px-2 link-body-emphasis">Post Alert</a></li>
        <li class="nav-item"><a href="{{ url_for('admin.stats', user=current_user.username)}}"
            class="nav-link px-2 link-body-emphasis">Stats</a></li>
      </ul>


      <form class="nav-item" role="search" method="post"
        action="{{ url_for('admin.search', user=current_user.username) }}">
        <div class="input-group">
          <input type="search" name="search" class="form-control mr-2" placeholder="Search...">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ url_for('static', filename='avatar1.jpg') }}" alt="mdo" width="32" height="32"
            class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="{{ url_for('user.user_dashboard', user=current_user.username) }}">Meloverse
              (app)</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout')}}">Sign out</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<main class="flex-shrink-0">
  <div class="container">
    <section class="mx-2 my-3">
      <div class="row row-cols-2">
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">User Stats🌸</h5>
            <div class="card-body">
              <table class="table table-hover">
                <tr>
                  <th scope="col">Users</th>
                  <td scope="col">{{ user_count }}</td>
                </tr>
                <tr>
                  <th scope="col">Creators</th>
                  <td scope="col">{{ creator_count }}</td>
                </tr>
                <tr>
                  <th scope="col">Admin</th>
                  <td scope="col">{{ admin_count }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">Songs🎹</h5>
            <div class="card-body">
              <table class="table table-hover">
                <tr>
                  <th>Total Albums</th>
                  <td>{{ album_count }}</td>
                </tr>
                <tr>
                  <th>Total Singles</th>
                  <td>{{ singles_count }}</td>
                </tr>
                <tr>
                  <th>Total Tracks</th>
                  <td>{{ tracks_count }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mx-1 my-2">
      <div class="row row-cols-4">
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">Top Creators🪽</h5>
            <div class="card-body">
              {% if top_creators %}
              <ul class="list-group list-group-flush">
                {% for creator in top_creators %}
                <li class="list-group-item list-group-item-action"><a style="text-decoration: none;"
                    href="{{ url_for('admin.creator_profile', user=current_user, creator=creator.creator_id) }}">{{
                    creator.creator_name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">Trending Creators🧐</h5>
            <div class="card-body">
              {% if trending_creators %}
              <ul class="list-group list-group-flush">
                {% for creator, creator_id in trending_creators.items() %}
                <li class="list-group-item list-group-item-action"><a style="text-decoration: none;"
                    href="{{ url_for('admin.creator_profile', user=current_user, creator=creator_id) }}">{{
                    creator }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">Trending Albums🔺</h5>
            <div class="card-body">
              {% if trending_albums %}
              <table class="table table-hover">
                <tbody>
                  {% for album, count in trending_albums.items() %}
                  <tr>
                    <td>{{ album }}</td>
                    <td>{{ count }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <h5 class="card-header">Trending Songs🔺</h5>
            <div class="card-body">
              {% if trending_songs %}
              <table class="table table-hover">
                <tbody>
                  {% for song, count in trending_songs.items() %}
                  <tr>
                    <td>{{ song }}</td>
                    <td>{{ count }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}

{% block footer %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = new Plyr('#audio-player');
  });

  async function updateTimeline(userId, trackId) {
    try {
      const response = await fetch('/update_timeline', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, trackId }),
      });

      if (!response.ok) {
        throw new Error('Failed to update timeline');
      }

      // Process successful response
      console.log('Timeline updated successfully');
    } catch (error) {
      // Handle error
      console.error('Error updating timeline:', error.message);
    }
  }

  function handleInteraction(element) {
    var trackId = element.dataset.trackId;
    var currentUserId = element.dataset.currentUserId;

    var footer = document.getElementById('footer');
    var stickyFooter = document.querySelector('.sticky-footer');

    document.getElementById('track-details').innerHTML = `${element.dataset.artists}, <a href="/user/${currentUserId}/creator/${element.dataset.creatorId}" style="text-decoration: none;">${element.dataset.creator}</a>`;

    document.getElementById('selected-track-name').innerText = element.dataset.trackName;
    document.getElementById('audio-player').src = "{{ url_for('static', filename='uploads/') }}" + element.dataset.trackFile;

    var lyricsContainer = document.getElementById('lyrics');
    lyricsContainer.innerHTML = element.dataset.lyrics || "Lyrics not provided by the creator.";

    updateTimeline(currentUserId, trackId);
    footer.style.display = 'block';
    stickyFooter.style.display = 'block';

  }

  document.addEventListener('DOMContentLoaded', function () {
    var links = document.querySelectorAll('.card-body.stretched-link');
    links.forEach(function (link) {
      link.addEventListener('click', function () {
        handleInteraction(this);
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var albumLinks = document.querySelectorAll('.track-dropdown .dropdown-item');
    albumLinks.forEach(function (item) {
      item.addEventListener('click', function (event) {
        event.preventDefault();
        handleInteraction(this);
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var playButtons = document.querySelectorAll('.btn-outline-danger.btn-sm');
    playButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        handleInteraction(this);
      });
    });
  });
</script>

<br>
<footer id="footer" class="footer mt-auto py-3 bg-body-tertiary" style="position: sticky; bottom: 0; display: none;">
  <div class="container">
    <div class="row g-0">
      <div class="col-1 d-flex align-items-stretch">
        <img src="{{ url_for('static', filename='images/tom.gif') }}" class="img-fluid rounded unclickable undraggable"
          style="object-fit: cover; margin-left: -5px; margin-right: -10px;">
      </div>
      <div class="col-2">
        <h4 class="offcanvas-title" id="selected-track-name"></h4>
        <span>
          <h6 class="text-muted" id="track-details"></h6>
        </span>
      </div>
      <div class="col-7">
        <audio controls id="audio-player">
          <source src="" type="audio/mp3">
        </audio>
      </div>
      <div class="col-2">
        <div class="btn-group dropup-center dropup">
          <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lyrics
          </button>
          <small class="mx-2 my-2" style="max-width: 250px;">
            <p class=" dropdown-menu text-center" id="lyrics">
            </p>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var clickableElements = document.querySelectorAll('.clickable-element');

    clickableElements.forEach(function (element) {
      element.addEventListener('click', function (event) {
        // Stop the click event from propagating up the DOM hierarchy
        event.stopPropagation();
      });
    });
  });
</script>
{% endblock %}