{% extends 'admin/admin_dashboard.html' %}

{% block body %}
<main class="flex-shrink-0">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">USER AND CONTENT MANAGEMENT</h5>
                <hr>
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                                <th>Creator</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user, creator in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>

                                {% if user.role =="admin" %}
                                <td>{{ user.role }}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#RevokeModal_{{ user.id }}">
                                        Revoke
                                    </button>
                                    <div class="modal fade" id="RevokeModal_{{ user.id }}" tabindex="-1"
                                        aria-labelledby="RevokeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="RevokeModalLabel">Revoke Admin Role</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to revoke administrator privilage of {{ user.username
                                                    }}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <form
                                                        action="{{ url_for('admin.user_management', user=current_user.username) }}"
                                                        method="post">
                                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                                        <button class="btn btn-success btn-sm" type="submit"
                                                            name="revoke" value="yes">revoke</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                <td>{{ user.role }}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#GrantModal_{{ user.id }}">
                                        Grant
                                    </button>
                                    <div class="modal fade" id="GrantModal_{{ user.id }}" tabindex="-1"
                                        aria-labelledby="GrantModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="GrantModalLabel">Grant Admin Role</h5>
                                                    <button type="button" class="btn-close btn-sm"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to grant administrator privilage to {{ user.username }}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <form
                                                        action="{{ url_for('admin.user_management', user=current_user.username) }}"
                                                        method="post">
                                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                                        <button class="btn btn-info btn-sm" type="submit" name="grant"
                                                            value="yes">Grant</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}

                                {% if creator != None %}
                                <td><a
                                        href="{{ url_for('admin.creator_profile', user=current_user.username, creator=creator.creator_id) }}">Yes</a>
                                </td>
                                {% else %}
                                <td>No</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
{% endblock %}