{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='sign-in.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block header %}
<header>
  <nav class="navbar navbar-expand">
    <div class="container">
    <h3><a href="/" class="navbar-brand link-body-emphasis px-2">🎧 Meloverse</a></h3>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link link-body-emphasis px-2" href="{{ url_for('login') }}">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-body-emphasis px-2" href="{{ url_for('signup') }}">
          <button type="button" class="btn btn-light">Sign-up</button>
        </a>
      </li>
    </ul>
  </div>
  </nav>
</header>
{% endblock %}

{% block body %}
<div class="cover">
  <div class="cover-content">
    <h1>Welcome to Meloverse!!</h1>
    <p>A Music Streaming App</p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-body-secondary">&copy; Meloverse</span>
  </div>
</footer>
{% endblock %}