{% extends "user/user_dashboard.html" %}

{% block body %}

<div class="container d-flex align-items-center justify-content-center">
    <main class="text-center">
        <div class="container">
            <img src="{{ url_for('static', filename='images/thinkingboy.png') }}" class="img"
                style="width: 30%; height: auto; margin-bottom: 20px;">
            <form method="POST">
                <p>Do you like to register as a Creator?</p>
                <button type="submit" class="btn btn-primary">Register as Creator</button>
            </form>
        </div>
    </main>
</div>
{% endblock %}