{% extends "user/user_dashboard.html" %} {% block body %}
<div class="container">
  {% for i,j in announcements %}
  <div class="card">
    <h5 class="card-header text-uppercase">
      <a href="{{ url_for('user.creator_profile', creator=j.creator_id) }}" style="text-decoration: none">😊 {{
        i.creator }}
      </a>
      <span class="badge">{{ i.date }}</span>
    </h5>
    <div class="card-body">
      <h5 class="card-title">{{ i.heading }}</h5>
      <p class="card-text">{{ i.announcement }}</p>
      {% if i.link %}
      <a href="{{ i.link }}" class="btn btn-outline-light btn-sm">link to watch</a>
      {% endif %}

      <div class="text-end">
        <div class="btn-group">
          <form method="post">
            <input type="hidden" name="announcement_id" value="{{ i.announcement_id }}" />
            <input type="hidden" name="reaction" value="like" />
            <button type="submit" class="btn btn-outline-light btn-sm">
              👍 {{ i.likes }}
            </button>
          </form>

          <form method="post">
            <input type="hidden" name="announcement_id" value="{{ i.announcement_id }}" />
            <input type="hidden" name="reaction" value="dislike" />
            <button type="submit" class="btn btn-outline-light btn-sm">
              👎 {{ i.dislikes }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}