{% extends "user/user_dashboard.html" %}

{% block body %}
<div class="container">
    <div class="card border-dark mb-3 mt-3">
        <div>
            {% if not creators and not albums and not tracks and not genre %}
            <h3>No result found for "{{query}}" :(</h3>
            <pre class="text-end">
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣠⣀⢤⣖⣲⣦⣄⠀⠀⢀⡠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢤⣤⣄⠻⡽⣺⣭⣿⡽⣾⣭⢿⣷⣉⠂⣿⠤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢿⣭⣏⣿⣷⣿⣿⣿⣽⣳⣾⣯⣿⣿⣏⣯⡴⣏⡆⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣝⣯⢞⣿⡿⢿⠻⠛⡭⢛⠳⢋⠝⡩⢟⠻⣿⣟⣿⡿⣜⡍⡶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⡏⠧⡙⠌⡡⠡⠐⡈⠄⡁⢂⠐⡈⡑⠢⣍⠻⣿⣿⣞⡷⣽⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣾⣿⢞⡷⡈⢆⠑⡈⠄⡁⢂⠐⠠⠐⢀⠂⠡⣈⠱⢠⠓⡜⣿⣺⣽⣿⣳⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢘⣿⣿⣟⠦⡑⢂⠡⠌⡐⢀⠂⠌⠐⢈⠠⠈⠔⡠⢑⢢⠩⡜⣱⣿⣿⣯⠑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⢏⠢⡑⣌⠶⣱⣎⢦⠘⠠⢈⠀⠄⡱⣸⢴⣣⣌⡒⢡⢛⣾⣿⡧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣷⣿⠂⡱⢰⠉⡎⡤⣌⢆⣫⡑⢂⠸⣰⠱⢍⠛⡉⠯⣝⢢⢉⣾⣟⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢘⣳⢯⠐⡡⠊⡝⢋⠄⢓⠛⠤⡑⢂⠰⣍⠚⡀⢛⡾⢷⣌⠣⢢⢽⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠘⣯⠂⠅⠂⠌⠠⠈⠠⠈⠔⡀⠂⠰⠌⡑⠠⠒⠘⢂⠌⡂⢇⣾⣟⠣⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢁⠏⡘⢌⠰⢀⠂⠌⠄⡙⠲⢄⢣⠼⡴⣈⠆⠈⡐⠀⢆⠱⡌⢾⢡⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢌⠢⢍⠢⡑⢢⠙⡈⠔⣈⠅⢂⢂⠘⡄⢣⡘⠤⡐⡉⢆⠳⡘⢬⢃⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢈⠒⡌⠤⠑⡀⢓⠚⠫⢌⡘⠂⠚⠘⡘⢦⣕⢢⠡⡙⣌⠣⡝⢢⠍⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡤⢃⠜⡠⢂⠌⡑⠢⢐⠃⡚⠴⢩⠖⡌⠢⡐⡱⢠⠓⣜⠣⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⣩⢒⡱⢌⠢⢄⡁⢂⠐⡠⢃⠢⡘⢄⠣⣜⡡⢇⡻⣌⠓⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢡⢏⡜⣎⠳⣦⢜⡤⢣⢔⣢⠱⣍⣮⢳⡼⣹⣏⢷⣹⡆⢀⠀⠀⠀⠀⠀⠀⠀⠈⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⠸⡜⣬⢓⣮⣙⣞⢻⡞⣳⣟⡿⣞⣯⣟⡷⣫⡞⣽⢻⣿⡖⢢⠁⠀⠀⠈⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢠⠢⡝⣼⡡⢛⡴⣋⠶⣩⢎⡷⣝⡳⢾⣝⡻⣼⢎⠗⡣⡝⢆⣏⠲⣁⠃⡙⢆⠦⣀⢁⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠰⣈⠖⡱⢘⡼⡇⡅⢒⢩⢒⢡⠚⡴⢡⢋⠳⢎⡹⢐⠊⣬⠱⣉⠆⣇⠢⡅⢊⠔⣈⠒⢥⢪⠱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⠀⠀⠀⠀⢀⢀⠠⢄⠢⡘⢄⠣⢎⡱⢌⠢⡑⡚⡵⡘⢌⠢⠎⡄⢣⠐⢣⢈⡑⢢⠐⡡⢚⠄⡣⢄⢋⡶⢱⠈⢆⠊⠤⡉⢆⠢⠡⢘⠒⡄⡀⠀⠀⠀⠀⠀⠀
                        ⠀⠀⠀⣀⠠⡐⢌⠲⣈⠒⡌⢢⠑⡌⡚⢄⠒⡌⠰⢡⠘⡥⣙⠢⡑⢊⠜⢢⠙⡄⠢⢘⠠⡑⡴⢋⠰⡁⢎⡰⣩⠃⡜⢌⡘⠤⡑⡌⠰⡁⢆⠡⢂⠱⡀⠄⡀⠀⠀⠀
                        ⠀⢀⠳⣌⢒⠡⢊⠴⣀⠣⡘⢄⠣⣘⢡⠊⠴⣈⠑⢢⠑⡸⢀⠣⡑⠌⡘⠄⠃⡄⠃⡌⢢⡑⢦⠉⣆⠑⣎⣱⠆⡱⢈⠖⡨⢰⠡⢌⡑⠨⢄⠃⡌⠴⡑⢎⡔⢆⡀⠀
                        ⢀⢎⡱⢈⠆⡱⢈⡒⠤⡡⡑⢌⠢⡅⢛⡬⠱⢠⠉⢆⠱⡈⢇⠠⠐⡈⠐⡈⠔⠠⠑⢠⠣⡜⢢⠑⡌⢾⡛⡍⢢⠑⡊⡔⢡⢣⠘⠤⡘⠰⢈⠢⣉⡴⡱⢎⡜⢢⡕⠀
                                    </pre>
            {% else %}
            <h4>SEARCH RESULTS FOR "{{query}}"</h4>
            <hr>
            {% endif %}
        </div>
        <div class="card-body">
            {% if genre %}
            <h5 class="card-title">{{query.upper()}} SONGS</h5>
            <div class="row">
                {% for track, creator, album in genre %}

                <div class="col-4">
                    <div class="card mb-1 mt-1">
                        <div class="card-header">
                            <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                                style="text-decoration: none;">
                                {{ creator.creator_name }}
                            </a>
                        </div>
                        <div class="card-body stretched-link" data-track-id="{{ track.track_id }}"
                            data-track-file="{{ track.track_file }}" data-track-name="{{ track.track_name }}"
                            data-artists="{{ track.artists }}" data-creatorid="{{ creator.creator_id }}"
                            data-creator="{{ creator.creator_name }}" data-lyrics="{{ track.lyrics }}"
                            data-current-user-name="{{ current_user.username }}"
                            data-current-user-id="{{ current_user.id }}" style="position: relative;">
                            <h5 class="card-title">{{ track.track_name }}{% if track.album_id != 0 %} (album:
                                {{album.album_name}}) {% endif %}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            {% if creators %}
            <h5 class="card-title">CREATORS</h5>
            <div class="row">
                {% for creator in creators %}
                <div class="col-4">
                    <div class="card mb-2 mt-1">
                        <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                            style="text-decoration: none;">
                            <div class="card-header">{{ creator.creator_name }}</div>
                        </a>
                        <div class="card-body">
                            {{ creator.bio }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            {% endif %}


            {% if albums %}
            <h5 class="card-title">ALBUMS</h5>
            <div class="row">
                {% for album, tracks, creator in albums %}
                {% if loop.changed(album.album_id) %}
                <div class="col-4">
                    <div class="card mb-2 mt-1">
                        <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                            style="text-decoration: none;">
                            <div class="card-header">{{ album.album_name }} - {{ creator.creator_name }}</div>
                        </a>
                        <div class="card-body">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle card-title btn btn-dark" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                                    Tracks
                                </button>
                                <ul class="dropdown-menu track-dropdown">
                                    {% for a, t, c in albums %}
                                    {% if t.album_id == album.album_id %}
                                    <li>
                                        <a class="dropdown-item" href="#" data-track-id="{{ t.track_id }}"
                                            data-track-name="{{ t.track_name }}" data-artists="{{ t.artists }}"
                                            data-creator-id="{{ t.creator_id }}"
                                            data-creator="{{ creator.creator_name }}"
                                            data-current-user-name="{{ current_user.username }}"
                                            data-current-user-id="{{ current_user.id }}" data-lyrics="{{ t.lyrics }}"
                                            data-track-file="{{ t.track_file }}">
                                            {{ t.track_name }}
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            {% endif %}

            {% if tracks %}
            <h5 class="card-title">SONGS</h5>
            <div class="row">
                {% for track, creator, album in tracks %}

                <div class="col-4">
                    <div class="card mb-1 mt-1">
                        <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                            style="text-decoration: none;">
                            <div class="card-header">{{ creator.creator_name }}</div>
                        </a>
                        <div class="card-body stretched-link" data-track-id="{{ track.track_id }}"
                            data-track-file="{{ track.track_file }}" data-track-name="{{ track.track_name }}"
                            data-artists="{{ track.artists }}" data-creatorid="{{ creator.creator_id }}"
                            data-creator="{{ creator.creator_name }}"
                            data-current-user-name="{{ current_user.username }}" data-lyrics="{{ track.lyrics }}"
                            data-current-user-id="{{ current_user.id }}">
                            <h5 class="card-title">{{ track.track_name }} {% if track.album_id != 0 %} (album: {{
                                album.album_name }}) {% endif %} </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}