{% extends './base.html' %}

{% block head %}
<title>Meloverse</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/headerfooter.css') }}">
{% endblock %}

{% block navbar %}
<header class="py-3 mb-3 border-bottom">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a href="{{ url_for('user.user_dashboard', user=current_user.username) }}"
        class="navbar-brand link-body-emphasis">
        🎧 Meloverse
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="{{ url_for('user.favorites', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Favorites</a></li>
        <li class="nav-item"><a href="{{ url_for('user.user_playlists', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">My Playlists</a></li>
        <li class="nav-item"><a href="{{ url_for('user.discover', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Discover</a></li>
      </ul>

      <form class="nav-item" role="search" method="post"
        action="{{ url_for('user.search', user=current_user.username) }}">
        <div class="input-group">
          <input type="search" class="form-control mr-2" name="search" placeholder="Search...">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ url_for('static', filename='avatar2.jpg') }}" alt="mdo" width="32" height="32"
            class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          {% if creator_signup_status == None %}
          <li><a class="dropdown-item" href="{{ url_for('user.creator_signup', user=current_user.username) }}">Register
              as Creator</a></li>
          {% else %}
          <li><a class="dropdown-item"
              href="{{ url_for('user.creator_dashboard', user=current_user.username) }}">Creator Center</a></li>
          {% endif %}
          {% if current_user.role == "admin" %}
          <li><a class="dropdown-item" href="{{ url_for('admin.admin_dashboard', user=current_user.username) }}">Admin
              Dashboard</a></li>
          {% endif %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout')}}">Sign out</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
      <strong>Hey {{ current_user.username }}! </strong> {{ alert.alert }}
      {% if alert.link!="" %}
      <a href="{{ alert.link }}" class="alert-link">👇</a>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <h4 class="card-title text-center">RECOMENDATIONS FOR YOU</h4>
        <hr>
        <h5 class="card-title">ALBUMS</h5>
        <hr>
        <div class="row">
          {% for item in albums %}
          {% if item %}
          <div class="col-4">
            <div class="card mb-2 mx-1 h-100">
              {% for album, track_, creator in item %}
              {% if loop.first %}
              <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                style="text-decoration: none;">
                <div class="card-header">{{ creator.creator_name }} - {{ album.genre.upper() }} Album </div>
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ album.album_name.upper() }}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-small">{{ album.description }}</h6>
              </div>
              <div class="card-footer bg-transparent text-center">
                <div class="btn-group" role="group">
                  {% if album.album_id not in liked_albums %}
                  <button type="button" class="btn btn-dark btn-sm Albumlike" data-album-id="{{ album.album_id }}"><span
                      class="bi bi-hand-thumbs-up"></span></button>
                  {% else %}
                  <button type="button" class="btn btn-light btn-sm Albumlike"
                    data-album-id="{{ album.album_id }}"><span class="bi bi-hand-thumbs-up"></span></button>
                  {% endif %}
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                      Tracks
                    </button>
                    <ul class="dropdown-menu track-dropdown">
                      {% for album_, track, creator_ in item %}
                      <li>
                        <a class="dropdown-item" href="#" data-track-id="{{ track.track_id }}"
                          data-track-name="{{ track.track_name }}" data-artists="{{ track.artists }}"
                          data-creator-id="{{ track.creator_id }}" data-creator="{{ creator.creator_name }}"
                          data-trackId="{{ track.track_id }}" data-current-user-name="{{ current_user.username }}"
                          data-lyrics="{{ track.lyrics }}" data-current-user-id="{{ current_user.id }}"
                          data-track-file="{{ track.track_file }}" data-plays="{{ track.plays }}"
                          data-dislikes="{{ track.dislikes }}" data-likes="{{ track.likes }}">
                          {{ track.track_name }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% if singles %}
    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">SINGLES</h5>
        <hr>

        <div class="row">
          {% for track,creator in singles %}

          <div class="col-4">
            <div class="card mb-2">
              <div class="card-header">
                <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                  style="text-decoration: none;">
                  {{ creator.creator_name }}
                </a>
              </div>
              <div class="card-body stretched-link" data-track-id="{{ track.track_id }}"
                data-track-file="{{ track.track_file }}" data-track-name="{{ track.track_name }}"
                data-plays="{{ track.plays }}" data-dislikes="{{ track.dislikes }}" data-likes="{{ track.likes }}"
                data-artists="{{ track.artists }}" data-creatorid="{{ creator.creator_id }}"
                data-lyrics="{{ track.lyrics }}" data-creator="{{ creator.creator_name }}"
                data-trackId="{{ track.track_id }}" data-current-user-name="{{ current_user.username }}"
                data-current-user-id="{{ current_user.id }}" style="position: relative;">
                <h5 class="card-title">{{ track.track_name }}</h5>
              </div>
              <div class="card-footer bg-transparent text-center">
                <div class="btn-group text-end" role="group">
                  <button type="button"
                    class="btn btn-sm track-like {% if track.track_id in liked_singles %} btn-light {% else %} btn-dark {% endif %}"
                    data-track-id="{{ track.track_id }}" data-value=1>
                    <span class="bi bi-hand-thumbs-up"></span>
                  </button>
                  <button type="button"
                    class="btn btn-sm track-dislike {% if track.track_id in disliked_singles %} btn-light {% else %} btn-dark {% endif %}"
                    data-track-id="{{ track.track_id }}" data-value=-1>
                    <span class="bi bi-hand-thumbs-down"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <hr>
    <br><br><br>
  </div>
</main>
{% endblock %}

{% block footer %}
<br>
<footer id="footer" class="footer mt-auto py-3 bg-body-tertiary" style="position: sticky; bottom: 0; display: none;">
  <div class="container">
    <div class="row g-0">
      <div class="col-1 d-flex align-items-stretch">
        <img src="{{ url_for('static', filename='images/tom.gif') }}" class="img-fluid rounded unclickable undraggable"
          style="object-fit: cover; margin-left: -5px; margin-right: -10px;">
      </div>
      <div class="col-2">
        <h4 class="offcanvas-title" id="selected-track-name"></h4>
        <span>
          <h6 class="text-muted" id="track-details"></h6>
        </span>
      </div>
      <div class="col-7">
        <audio controls id="audio-player">
          <source src="" type="audio/mp3">
        </audio>
      </div>
      <div class="col-2 mt-2">
        <button class="btn btn-sm" type="button" id="likes" data-like-status="like">
          <span class="bi bi-hand-thumbs-up"></span>
        </button>
        <button class="btn btn-sm" type="button" id="dislikes" data-like-status="dislike">
          <span class="bi bi-hand-thumbs-down"></span>
        </button>
        <div class="dropup-center dropup">
          <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Lyrics
          </button>
          <small class="mx-2 my-2" style="max-width: 350px;">
            <p class=" dropdown-menu text-center" id="lyrics">
            </p>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = new Plyr('#audio-player');
  });

  async function updateTimeline(userId, trackId) {
    try {
      const response = await fetch('/update_timeline', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, trackId }),
      });

      if (!response.ok) {
        throw new Error('Failed to update timeline');
      }

      console.log('Timeline updated successfully');
    } catch (error) {
      console.error('Error updating timeline:', error.message);
    }
  }

  async function updateLikeDislike(userId, trackId, likeStatus) {
    try {
      const response = await fetch('/update_like_dislike', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          userId: userId,
          trackId: trackId,
          likeStatus: likeStatus,
        }),
      });

      if (!response.ok) {
        throw new Error('Failed to update like/dislike status');
      }

      console.log(`Successfully updated ${likeStatus === 'like' ? 'like' : 'dislike'} status`);
    } catch (error) {
      console.error('Error updating like/dislike status:', error.message);
    }
  }

  function handleInteraction(element) {
    var trackId = element.dataset.trackId;
    var currentUserId = element.dataset.currentUserId;
    var footer = document.getElementById('footer');
    var stickyFooter = document.querySelector('.sticky-footer');
    document.getElementById('selected-track-name').innerText = element.dataset.trackName;


    var likes = element.dataset.likes;
    var dislikes = element.dataset.dislikes;
    var plays = element.dataset.plays;
    document.getElementById('track-details').innerHTML = `${element.dataset.artists}, <a href="/user/${currentUserId}/creator/${element.dataset.creatorId}" style="text-decoration: none;">${element.dataset.creator}</a> | Plays: ${plays}`;
    var likesButton = document.getElementById('likes');
    var dislikesButton = document.getElementById('dislikes');
    likesButton.innerHTML = `<span class="bi bi-hand-thumbs-up"></span> ${likes}`;
    dislikesButton.innerHTML = `<span class="bi bi-hand-thumbs-down"></span> ${dislikes}`;
    document.getElementById('audio-player').src = "{{ url_for('static', filename='uploads/') }}" + element.dataset.trackFile;

    var lyricsContainer = document.getElementById('lyrics');
    lyricsContainer.innerHTML = element.dataset.lyrics || "Lyrics not provided";

    updateTimeline(currentUserId, trackId);
    footer.style.display = 'block';
    stickyFooter.style.display = 'block';

    const likeStatus = element.id === 'likes' ? 'like' : 'dislike';

    var likesButtonHandler = document.getElementById('likes');
    likesButtonHandler.addEventListener('click', async function () {
      try {
        await updateLikeDislike(currentUserId, trackId, 'like');
        console.log('Successfully updated like for track', element.dataset.trackName);
      } catch (error) {
        console.error('Error updating like:', error.message);
      }
    });

    var dislikesButtonHandler = document.getElementById('dislikes');
    dislikesButtonHandler.addEventListener('click', async function () {
      try {
        await updateLikeDislike(currentUserId, trackId, 'dislike');
        console.log('Successfully updated dislike for track', element.dataset.trackName);
      } catch (error) {
        console.error('Error updating dislike:', error.message);
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    var links = document.querySelectorAll('.card-body.stretched-link');
    links.forEach(function (link) {
      link.addEventListener('click', function () {
        handleInteraction(this);
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var albumLinks = document.querySelectorAll('.track-dropdown .dropdown-item');
    albumLinks.forEach(function (item) {
      item.addEventListener('click', function (event) {
        event.preventDefault();
        handleInteraction(this);
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var playButtons = document.querySelectorAll('.btn-outline-danger.btn-sm');
    playButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        handleInteraction(this);
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var playButtons = document.querySelectorAll('.btn-primary.btn-sm');
    playButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        handleInteraction(this);
      });
    });
  });
</script>

<script>
  const likeButtonschange = document.querySelectorAll('.Albumlike');
  likeButtonschange.forEach(button => {
    button.addEventListener('click', function () {
      this.classList.toggle('btn-dark');
      this.classList.toggle('btn-light');
    });
  });

  const likeButtons = document.querySelectorAll('.Albumlike');

  likeButtons.forEach(button => {
    button.addEventListener('click', async function () {
      try {
        const albumId = this.getAttribute('data-album-id');

        const response = await fetch('/album_like', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            album_id: albumId,
          }),
        });
      } catch (error) {
        console.error('Error:', error);
      }
    });
  });

  async function handleTrackLikeDislike(button) {
    try {
      const trackId = button.getAttribute('data-track-id');
      const likeValue = button.getAttribute('data-value');

      const response = await fetch('/track_like', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          track_id: trackId,
          like_value: likeValue,
        }),
      });

      if (response.ok) {
        toggleTrackButtonColors(button);
      } else {
        console.error('Error:', response.statusText);
      }
    } catch (error) {
      console.error('Error:', error);
    }
  }

  function toggleTrackButtonColors(button) {
    const isLike = button.classList.contains('track-like');
    const otherButton = isLike ? button.nextElementSibling : button.previousElementSibling;

    button.classList.toggle('btn-dark');
    button.classList.toggle('btn-light');

    if (otherButton.classList.contains('btn-light')) {
      otherButton.classList.toggle('btn-dark');
      otherButton.classList.toggle('btn-light');
    }
  }

  const trackButtons = document.querySelectorAll('.track-like, .track-dislike');

  trackButtons.forEach(button => {
    button.addEventListener('click', function () {
      handleTrackLikeDislike(this);
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var clickableElements = document.querySelectorAll('.clickable-element');

    clickableElements.forEach(function (element) {
      element.addEventListener('click', function (event) {
        event.stopPropagation();
      });
    });
  });
</script>
{% endblock %}