{% extends './base.html' %}

{% block head %}
<title>Meloverse</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/headerfooter.css') }}">
{% endblock %}

{% block navbar %}
<header class="py-3 mb-3 border-bottom">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a href="{{ url_for('user.user_dashboard', user=current_user.username) }}"
        class="navbar-brand link-body-emphasis">
        🎧 Meloverse
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="{{ url_for('user.favorites', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Favorites</a></li>
        <li class="nav-item"><a href="{{ url_for('user.user_playlists', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">My Playlists</a></li>
        <li class="nav-item"><a href="{{ url_for('user.discover', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Discover</a></li>
      </ul>


      <form class="nav-item" role="search">
        <div class="input-group">
          <input type="search" class="form-control mr-2" placeholder="Search..." aria-label="Search">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ url_for('static', filename='avatar2.jpg') }}" alt="mdo" width="32" height="32"
            class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          {% if creator_signup_status == None %}
          <li><a class="dropdown-item" href="{{ url_for('user.creator_signup', user=current_user.username) }}">Register
              as Creator</a></li>
          {% else %}
          <li><a class="dropdown-item"
              href="{{ url_for('user.creator_dashboard', user=current_user.username) }}">Creator Center</a></li>
          {% endif %}
          {% if current_user.role == "admin" %}
          <li><a class="dropdown-item" href="{{ url_for('admin.admin_dashboard', user=current_user.username) }}">Admin
              Dashboard</a></li>
          {% endif %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout')}}">Sign out</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
      <strong>Hey {{ current_user.username }}! </strong> {{ alert.alert }}
      {% if alert.link!="" %}
      <a href="{{ alert.link }}" class="alert-link">👇</a>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">LISTEN TO ALBUMS</h5>
        <hr>
        <div class="row">
          {% for item in albums %}
          {% if item %}
          <div class="col-4">
            <div class="card mb-3">
              {% for album, y, creator in item %}
              {% if loop.first %}
              <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                style="text-decoration: none;">
                <div class="card-header">{{ creator.creator_name }}</div>
              </a>
              <div class="card-body">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle card-title btn btn-dark" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                    {{ album.album_name }}
                  </button>
                  <ul class="dropdown-menu">
                    {% for x, track, z in item %}
                    <li><a class="dropdown-item" href="#">{{ track.track_name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">LISTEN TO SINGLES</h5>
        <hr>

        <div class="row">
          {% for track,creator in singles %}

          <div class="col-4">
            <div class="card mb-3">
              <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                style="text-decoration: none;">
                <div class="card-header">{{ creator.creator_name }}</div>
              </a>
              <div class="card-body">
                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling_{{ track.track_id }}"
                  class="link-light" style="text-decoration: none;">
                  <h5 class="card-title">{{ track.track_name }}</h5>
                </a>

                <div class="offcanvas offcanvas-bottom" style="height: 15vh;" data-bs-scroll="true"
                  data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling_{{ track.track_id }}">
                  <div class="container">
                    <div class="offcanvas-body" style="padding: 10px;">
                      <div class="row g-0">
                        <div class="col-1 d-flex align-items-stretch">
                          <img src="{{ url_for('static', filename='images/tom.gif') }}"
                            class="img-fluid rounded unclickable undraggable" style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                          <h5 class="offcanvas-title">{{ track.track_name }}</h5>
                          <span>
                            <h6 class="text-muted">{{ track.artists }},
                              <a href="{{ url_for('user.creator_profile', user=current_user, creator=track.creator_id) }}"
                                style="text-decoration: none;">
                                {{ creator.creator_name }}
                              </a>
                            </h6>
                          </span>
                        </div>
                        <div class="col-8">
                          <audio controls>
                            <source src="{{ url_for('static', filename='uploads/' + track.track_file) }}"
                              type="audio/mp3">
                          </audio>
                        </div>
                        <div class="col-1 text-end">
                          <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    <br><br><br>
  </div>
</main>
{% endblock %}

{% block footer %}
<br>
<footer class="footer mt-auto py-3 bg-body-tertiary" style="position: sticky; bottom: 0;">
  <div class="container">
    <span class="text-body-secondary">Place sticky footer content here.</span>
  </div>
</footer>
{% endblock %}