{% extends './base.html' %}

{% block head %}
<title>Meloverse</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/headerfooter.css') }}">
{% endblock %}

{% block navbar %}
<header class="py-3 mb-3 border-bottom">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a href="{{ url_for('user.user_dashboard', user=current_user.username) }}"
        class="navbar-brand link-body-emphasis">
        🎧 Meloverse
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="{{ url_for('user.favorites', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Favorites</a></li>
        <li class="nav-item"><a href="{{ url_for('user.user_playlists', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">My Playlists</a></li>
        <li class="nav-item"><a href="{{ url_for('user.discover', user=current_user.username) }}"
            class="nav-link px-2 link-body-emphasis">Discover</a></li>
      </ul>

      <form class="nav-item" role="search" method="post"
        action="{{ url_for('user.search', user=current_user.username) }}">
        <div class="input-group">
          <input type="search" class="form-control mr-2" name="search" placeholder="Search...">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ url_for('static', filename='avatar2.jpg') }}" alt="mdo" width="32" height="32"
            class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          {% if creator_signup_status == None %}
          <li><a class="dropdown-item" href="{{ url_for('user.creator_signup', user=current_user.username) }}">Register
              as Creator</a></li>
          {% else %}
          <li><a class="dropdown-item"
              href="{{ url_for('user.creator_dashboard', user=current_user.username) }}">Creator Center</a></li>
          {% endif %}
          {% if current_user.role == "admin" %}
          <li><a class="dropdown-item" href="{{ url_for('admin.admin_dashboard', user=current_user.username) }}">Admin
              Dashboard</a></li>
          {% endif %}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout')}}">Sign out</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
      <strong>Hey {{ current_user.username }}! </strong> {{ alert.alert }}
      {% if alert.link!="" %}
      <a href="{{ alert.link }}" class="alert-link">👇</a>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <h4 class="card-title">RECOMENDATIONS FOR YOU</h4>
        <hr>
        <h5 class="card-title">ALBUMS</h5>
        <hr>
        <div class="row">
          {% for item in albums %}
          {% if item %}
          <div class="col-4">
            <div class="card mb-3">
              {% for album, track_, creator in item %}
              {% if loop.first %}
              <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                style="text-decoration: none;">
                <div class="card-header">{{ creator.creator_name }}</div>
              </a>
              <div class="card-body">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle card-title btn btn-dark" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                    {{ album.album_name }}
                  </button>
                  <ul class="dropdown-menu track-dropdown">
                    {% for album_, track, creator_ in item %}
                    <li>
                      <a class="dropdown-item" href="#" data-track-id="{{ track.track_id }}"
                        data-track-name="{{ track.track_name }}" data-artists="{{ track.artists }}"
                        data-creator-id="{{ track.creator_id }}" data-creator="{{ creator.creator_name }}"
                        data-current-user-name="{{ current_user.username }}"
                        data-current-user-id="{{ current_user.id }}" data-track-file="{{ track.track_file }}">
                        {{ track.track_name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">SINGLES</h5>
        <hr>

        <div class="row">
          {% for track,creator in singles %}

          <div class="col-4">
            <div class="card mb-3">
              <a href="{{ url_for('user.creator_profile', user=current_user, creator=creator.creator_id) }}"
                style="text-decoration: none;">
                <div class="card-header">{{ creator.creator_name }}</div>
              </a>
              <div class="card-body stretched-link" data-track-id="{{ track.track_id }}"
                data-track-file="{{ track.track_file }}" data-track-name="{{ track.track_name }}"
                data-artists="{{ track.artists }}" data-creatorid="{{ creator.creator_id }}"
                data-creator="{{ creator.creator_name }}" data-current-user-name="{{ current_user.username }}"
                data-current-user-id="{{ current_user.id }}">
                <h5 class="card-title">{{ track.track_name }}</h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    <br><br><br>
  </div>
</main>
{% endblock %}

{% block footer %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const player = new Plyr('#audio-player');
  });

  document.addEventListener('DOMContentLoaded', function () {
    var links = document.querySelectorAll('.card-body.stretched-link');
    links.forEach(function (link) {
      link.addEventListener('click', function () {
        var trackName = this.dataset.trackName;
        var artists = this.dataset.artists;
        var creatorId = this.dataset.creatorid;
        var creator = this.dataset.creator;
        var currentUser = this.dataset.currentUserName;
        var currentUserId = this.dataset.currentUserId;

        var trackFile = "{{ url_for('static', filename='uploads/') }}" + this.dataset.trackFile;
        var footer = document.getElementById('footer');
        var stickyFooter = document.querySelector('.sticky-footer');

        var creatorProfileUrl = `/user/${currentUserId}/creator/${creatorId}`;

        document.getElementById('track-details').innerHTML = `${artists}, <a href="${creatorProfileUrl}" style="text-decoration: none;">${creator}</a>`;

        document.getElementById('selected-track-name').innerText = trackName;
        document.getElementById('audio-player').src = trackFile;

        footer.style.display = 'block';
        stickyFooter.style.display = 'block';
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    var albumLinks = document.querySelectorAll('.track-dropdown .dropdown-item');

    albumLinks.forEach(function (item) {
      item.addEventListener('click', function (event) {
        event.preventDefault();
        var selectedOption = this;
        var trackName = selectedOption.dataset.trackName;
        var artists = selectedOption.dataset.artists;
        var creatorId = selectedOption.dataset.creatorId;
        var creator = selectedOption.dataset.creator;
        var currentUser = selectedOption.dataset.currentUserName;
        var currentUserId = selectedOption.dataset.currentUserId;
        var trackFile = "{{ url_for('static', filename='uploads/') }}" + selectedOption.dataset.trackFile;
        var footer = document.getElementById('footer');
        var stickyFooter = document.querySelector('.sticky-footer');

        console.log('Selected Track:', creator);

        var creatorProfileUrl = `/user/${currentUserId}/creator/${creatorId}`;

        document.getElementById('track-details').innerHTML = `${artists}, <a href="${creatorProfileUrl}" style="text-decoration: none;">${creator}</a>`;

        document.getElementById('selected-track-name').innerText = trackName;
        document.getElementById('audio-player').src = trackFile;

        footer.style.display = 'block';
        stickyFooter.style.display = 'block';
      });
    });
  });
</script>

<br>
<footer id="footer" class="footer mt-auto py-3 bg-body-tertiary" style="position: sticky; bottom: 0; display: none;">
  <div class="container">
    <div class="row g-0">
      <div class="col-1 d-flex align-items-stretch">
        <img src="{{ url_for('static', filename='images/tom.gif') }}" class="img-fluid rounded unclickable undraggable"
          style="object-fit: cover;">
      </div>
      <div class="col-2">
        <h4 class="offcanvas-title" id="selected-track-name"></h4>
        <span>
          <h6 class="text-muted" id="track-details"></h6>
        </span>
      </div>
      <div class="col-8">
        <audio controls id="audio-player">
          <source src="" type="audio/mp3">
        </audio>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var clickableElements = document.querySelectorAll('.clickable-element');

      clickableElements.forEach(function (element) {
        element.addEventListener('click', function (event) {
          event.stopPropagation();
        });
      });
    });
  </script>
</footer>
{% endblock %}