{% extends "user/user_dashboard.html" %}

{% block body %}
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ messages[-1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        {% endif %}
        {% endwith %}
        {% if playlists %}
        <div class="col-6">
            {% else %}
            <div class="col-12 d-flex align-items-center justify-content-center">
                {% endif %}
                <div class="card text-center">
                    <img src="{{ url_for('static', filename='images/playlist.jpg') }}" class="card-img-top"
                        style="object-fit: cover; max-height: 250px; max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">CREATE PLAYLIST</h5>
                        <p class="card-text">Create a New Playlist</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#newPlaylist">
                            Create
                        </button>

                        <div class="modal fade" id="newPlaylist" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Playlist</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form method="post">
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    name="playlistName" placeholder="My Playlist" required>
                                                <label for="floatingInput">Playlist Name</label>
                                            </div>
                                            <div class="mb-3">
                                                <label for="trackSearch" class="form-label">Search Tracks:</label>
                                                <input type="text" class="form-control" id="trackSearch"
                                                    oninput="filterTracks()" placeholder="Type to search">
                                            </div>
                                            <ul class="list-group list-group-flush" id="trackList">
                                                {% for track in tracks %}
                                                <li class="list-group-item">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="{{ track.track_id }}" name="selectedTracks"
                                                            value="{{ track.track_id }}">
                                                        <label class="form-check-label" for="{{ track.track_id }}">
                                                            {{ track.track_name }} - {{ track.artists }}
                                                        </label>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary btn-sm" name="createPlaylist"
                                                value="yes">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if playlists %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">MY PLAYLISTS</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for playlist, usr_playlist in playlists %}
                        {% if loop.changed(playlist.playlist_id) %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                {{ playlist.playlist_name }}
                            </span>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary">Play</button>
                                <button class="btn dropdown-toggle btn-sm btn-secondary" type="button"
                                    data-bs-toggle="dropdown" style="text-decoration: none;">
                                    Tracks
                                </button>
                                <ul class="dropdown-menu track-dropdown">
                                    {% for playlist, track, creator in playlist_tracks %}
                                    <li>
                                        <a class="dropdown-item" href="#" data-track-id="{{ track.track_id }}"
                                            data-track-name="{{ track.track_name }}" data-artists="{{ track.artists }}"
                                            data-creator-id="{{ track.creator_id }}" data-creator="{{ creator }}"
                                            data-current-user-name="{{ current_user.username }}"
                                            data-lyrics="{{ track.lyrics }}" data-likes="{{ track.likes }}"
                                            data-dislikes="{{ track.dislikes }}" data-plays="{{ track.plays }}"
                                            data-current-user-id="{{ current_user.id }}"
                                            data-track-file="{{ track.track_file }}">
                                            {{ track.track_name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="Add to favorites">❤️</button>

                                <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#editPlaylist_{{ playlist.playlist_id }}">Edit✏️</button>

                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#DeletePlaylist_{{ playlist.playlist_id }}">Delete🗑️</button>
                                <div class="modal fade" id="DeletePlaylist_{{ playlist.playlist_id }}" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete Playlist {{ playlist.playlist_name }}
                                                </h5>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                Do you want to Delete {{ playlist.playlist_name}}, you cannot undo this
                                                action?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form
                                                    action="{{ url_for('user.user_playlists', user=current_user.username) }}"
                                                    method="post">
                                                    <input type="hidden" name="playlist_id"
                                                        value="{{ playlist.playlist_id }}">
                                                    <button class="btn btn-danger btn-sm" type="submit"
                                                        name="deletePlaylist" value="yes">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% if playlists %}
        {% for playlist, usr_playlist in playlists %}
        {% if loop.changed(playlist.playlist_id) %}
        <div class="modal fade" id="editPlaylist_{{ playlist.playlist_id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit Playlist</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="editFloatingInput_{{ playlist.playlist_id }}" name="playlistName"
                                    placeholder="My Playlist" required value="{{ playlist.playlist_name }}">
                                <label for="editFloatingInput_{{ playlist.playlist_id }}">Playlist
                                    Name</label>
                            </div>
                            <div class="mb-3">
                                <label for="editTrackSearch_{{ playlist.playlist_id }}" class="form-label">Search
                                    Tracks:</label>
                                <input type="text" class="form-control" id="editTrackSearch_{{ playlist.playlist_id }}"
                                    placeholder="Type to search"
                                    oninput="filterTracks2(this, {{ playlist.playlist_id }})">
                            </div>
                            <ul class="list-group list-group-flush" id="editTrackList_{{ playlist.playlist_id }}">
                                {% for p_id, t_list in playlist_dict.items() %}
                                {% if p_id==playlist.playlist_id %}
                                {% for track in tracks %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="{{ track.track_id }}"
                                            name="selectedTracks" value="{{ track.track_id }}" {% if track.track_id in
                                            t_list %} checked {% endif %}>
                                        <label class="form-check-label" for="{{ track.track_id }}">
                                            {{ track.track_name }} - {{ track.artists }}
                                        </label>
                                    </div>
                                </li>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm"
                                data-bs-dismiss="modal">Cancel</button>
                            <input type="hidden" name="playlistId" value="{{ playlist.playlist_id }}">
                            <button type="submit" class="btn btn-primary btn-sm" name="editPlaylist"
                                value="yes">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    function filterTracks() {
        var input, filter, ul, li, label, i, txtValue;
        input = document.getElementById('trackSearch');
        filter = input.value.toUpperCase();
        ul = document.getElementById('trackList');
        li = ul.getElementsByClassName('list-group-item');

        for (i = 0; i < li.length; i++) {
            label = li[i].getElementsByTagName('label')[0];
            txtValue = label.textContent || label.innerText;

            if (txtValue.toUpperCase().includes(filter)) {
                li[i].style.display = '';
            } else {
                li[i].style.display = 'none';
            }
        }
    }

    function filterTracks2(input, playlistId) {
        const filter = input.value.toUpperCase();
        const trackList = document.getElementById('editTrackList_' + playlistId);

        for (const item of trackList.children) {
            const trackName = item.querySelector('label').textContent.toUpperCase();
            if (trackName.includes(filter)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        }
    }
</script>
{% endblock %}